.timer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.clock {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0px 10px;
  border-radius: 1rem;
  font-family: 'Orbitron', sans-serif;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}