.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.hidden {
    display: none;
  }
}

.wheel-container {
  display: flex;
  padding: 0 60px 20px;
  align-items: center;
  flex-grow: 1;
}

.game-pad {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 100%;
  width: 433px;
}
