header {
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-header);
  align-items: center;
}

.heading {
  flex-grow: 0.5;
  h1 {
    color: var(--color-primary);
  }
}
