.tab {
  cursor: pointer;
  background-color: darkkhaki;
  border: 2px solid khaki;
  border-radius: 5%;
  box-shadow: 3px, 3px;
  width: 100%;
  height: 100%;
  margin: 10px;
  &.selected {
    background-color: khaki;
    border: 4px solid darkkhaki;
  }
}