.control-pannel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 286px;
  .button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 12px;
    cursor: pointer;
    width: 132px;
    height: 122px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    &.pasapalabra {
      background: linear-gradient(#ffb342, #e7651c);
      width: 313px;
      font-size: 2rem;
      text-shadow: 0 2px 1px #b9751b;
      font-weight: bold;
      height: 98px;
    }
    &.correct {
      background: linear-gradient(#48bd5b, #1f8235);
    }
    &.wrong {
      background: linear-gradient(#f0404a, #be2121);
    }
    &.action {
      background: linear-gradient(#3da6f1, #2b79ee);
    }

    svg {
      height: 3.5rem;
      width: 3.5rem;
      fill: white;
      filter: drop-shadow(0 -2px 0 rgb(0 0 0 / 0.4));
    }
  }
}
