.App {
  text-align: center;
  width: 100%;
  min-width: 45rem;
  background-color: var(--color-container);
  min-height: 100vh;
  font-family: robotoregular, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  height: 100px;
  background: linear-gradient(#1e5c95, #011a31);
  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.4);
  border-top: 1px solid #3378b8;
}
