.App {
  text-align: center;
  max-width: 70rem;
  min-width: 45rem;
  background-color: var(--color-container);;
  min-height: 100vh;
  box-shadow: 0 2rem 6rem;
  margin: 0px 8rem;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}