:root {
  --color-primary: #023246;
  --color-primary-light: #225266;
  --color-primary-dark: #012226;
  --color-secondary: #8db48e;
  --color-background: #287094;
  --color-container: #d4d4ce;
  --color-header: #f6f6f6;
  --color-correct: green;
  --color-wrong: red;
  --color-initial: #225266;
  --color-active: #287094;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  min-height: 100vh;
  color: var(--color-primary-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
}